# Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.pdb
*.egg-info/
*.eggs/
*.env
*.venv

# Logs
*.log

# IDEs
.vscode/
.idea/

# Configuração do Poetry
poetry.lock

# Arquivos de configuração sensíveis
secret/
config/config.yaml

# Cache
*.cache
*.token
token_cache.json
token.pickle

#Dados locais
data/

# Outros
.DS_Store